<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.iteration1">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/parent_app_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/parent_app_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iteration1">
        <activity
            android:name=".Main_menu"
            android:exported="true"
            android:label="Parent App"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Coin_Flip_Activity"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Coin_flip_history"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Timeout_Timer"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Children_Config"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity
            android:name=".Add_Name_Activity"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Edit_Name_Activity"
            android:exported="true"
            android:label="Back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>